.accomplishment {
    display: flex;
    flex-direction: column;
}

.accomp {
    font-weight: 700;
    color: rgba(4, 60, 100);
}

.accomplishment-header {
    display: flex;
    justify-content: center;
    background-color: rgba(4, 60, 100);
    font-size: 44px;
    color: #fff;
    font-weight: 600;
}

.accomplishment-section {
    background-image: url('/images/IMG_6582.JPG');
    background-size: cover;
    background-position-x: 25%;
    background-repeat: no-repeat;
}

.accomplishment-open {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: 16px;
    font-size: 24px;
    color: rgba(4, 60, 100);
    font-weight: 650;
}

.groups {
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    flex-direction: column;
    padding: 16px;
}


.accomp-title {
    color: #e42424;
    text-decoration: underline rgba(4, 60, 100) 3px;
    display: flex;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
}



.group-1 {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.75);
}

.group-2 {
    display: flex;
    flex-direction: row;
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.75);
}

.accomp-panel {
    padding: 8px;
    width: 600px;
}

.accomp-lists {
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
}

@media (max-width: 768px) {
    .group-1 {
        flex-flow: row wrap;
    }
    .group-2 {
        flex-flow: row wrap;
    }
    .accomplishment-section {
        background-size: cover;
        background-position-x: 47%;
    }
}