.contact-container {
    display: flex;
    flex-direction: column;
}

.contact-header {
    display: flex;
    justify-content: center;
    font-size: 44px;
    font-weight: 600;
    color: #043c64;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 16px;
    flex-direction: column;
}

.subject, textarea {
    border: solid 2px;
    border-radius: 8px;
    width: 300px;
    padding: 4px;
}

input:hover, textarea:hover {
    border-color: #e42424;
}

button {
    background-color: #043c64;
    border-radius: 8px;
    color: #fff;
    padding: 4px;
}

button:hover {
    background-color: #e42424;
    font-weight: 600;
}

input[type="checkbox"]
{
    vertical-align: middle;
    margin-right: 10px;
}

.agreement {
    display: flex;
    width: 40%;
    color: #333;
}