.opening-background {
    display: flex;
    background-image: url('/images/IMG_5155.jpeg');
    background-position-y: 30%;
    background-size: cover;
}

.layer {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.75);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.placeholders {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    gap: 100px;
}

.message {
    background-color: rgba(4, 60, 100);
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.message-header {
    display: flex;
    justify-content: center;
    background-color: #cac3cd;
    font-size: 44px;
    font-weight: 700;
    font-style: italic;
    color: rgba(4, 60, 100);
    text-shadow: 1px 1px 2px white;
    padding: 16px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.quote {
    padding: 16px;
    letter-spacing: 2px;
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    text-shadow: 2px 1px 2px black;
}

.signature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    background-color: #FAF9F6;
}

.about-header {
    display: flex;
    text-decoration: underline;
    justify-content: center;
    font-size: 44px;
    font-weight: 600;
    color: #e42424;
}

.about-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}